extends layout

block content
    main.flex-shrink-0
        .container
            h1.mt-5 #{software.name}
            p.lead
            | #{software.salutation}
            if show_debug
              pre.
                #{JSON.stringify(locals, null, 2)}
